{% extends "base.html" %}

{% block body %}

<div class="dashboard-container">
    <h1>Welcome! {{username}} </h1>

    <p>This is your dashboard</p>

    <!-- # list of all song as button-->
    <div id="top-listned">
        <ul>
            {% for song in songs%}
                <li>
                    <div>
                        {{song.title}} by {{song.artist}} ({{song.year}})
                        <form action="{{url_for('play_song', song_id=song.id)}}", method="post">
                            <button class="play-button" type="submit">Play</button>
                        </form>
                    </div>
                    
                </li>
            {% endfor%}
        </ul>
    </div>
</div>

{% endblock %}